---

name: common tasks
description: Pull/Build docker images and run tests

inputs:
  goal:
    description: 'Goal to execute'
    required: true
  stack-version:
    description: 'Stack Version'
    required: true
  scope:
    description: 'Scope'
    default: ''
    type: string
  mode:
    description: 'Mode to use'
    default: 'none'
    type: choice
    options:
      - none

runs:
  using: "composite"
  steps:
    - uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'
    - name: Pull and build docker infra
      run: './.ci/scripts/pull_and_build.sh'
      shell: bash
    - name: Run tests Elastic Stack ${{ matrix.stack-version }} - ${{ matrix.scope }} - ${{ fromJSON('{"none":"Puppeteer"}')[inputs.mode] || inputs.mode }}
      run: './.ci/scripts/test.sh'
      shell: bash
      env:
        GOAL: ${{ inputs.goal }}
        MODE: ${{ inputs.mode }}
        SCOPE: ${{ inputs.scope }}
        STACK_VERSION: ${{ inputs.stack-version }}
    # The upload-artifact action fails if the name contains slashes `/` or colons `:`.
    # This step creates a slugified version that will not contain these characters.
    - uses: gacts/github-slug@91cb78e803e07ccf88570afeddeabaad93c8f4cb # 1.3.4
      id: slug
      if: success() || failure()
      with:
        to-slug: ${{ inputs.goal }}-${{ inputs.mode }}-${{ inputs.scope }}-${{ inputs.stack-version }}
    - name: Store test results
      if: success() || failure()
      uses: actions/upload-artifact@v6
      with:
        name: test-results-${{ steps.slug.outputs.slug }}
        path: |
          packages/**/reports/TESTS-*.xml
