---

name: ci-saucelabs

on:
  workflow_dispatch:
    inputs:
      saucelab_test:
        description: 'Enable run a Sauce lab test'
        default: true
        required: false
        type: boolean
  # push:
  #   branches:
  #     - main
  #   paths-ignore:
  #     - '**.md'
  #     - '**.asciidoc'
  # pull_request:
  #   branches:
  #     - main
  #   paths-ignore:
  #     - '**.md'
  #     - '**.asciidoc'

# Limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test-saucelabs:
    name: Test SauceLabs
    # Inputs aren't defined on some events
    # When undefined, we need to emulate the default value
    if: |
      inputs.saucelab_test == true || inputs.saucelab_test == null
      && (github.event_name != 'pull_request'
        || ( github.event_name == 'pull_request'
        && github.event.pull_request.head.repo.fork == false ))
    runs-on: ubuntu-latest
    strategy:
      # Saucelab doesn't support running test in //.
      max-parallel: 1
      matrix:
        stack-version:
          - '8.0.0-SNAPSHOT'
        scope:
          - '@elastic/apm-rum'
          - '@elastic/apm-rum-core'
          - '@elastic/apm-rum-react'
          - '@elastic/apm-rum-angular'
          - '@elastic/apm-rum-vue'
    steps:
      - uses: actions/checkout@v5
      - name: Run saucelabs tests
        uses: ./.github/workflows/run-test
        with:
          goal: 'test'
          mode: 'saucelabs'
          scope: ${{ matrix.scope }}
          stack-version: ${{ matrix.stack-version }}
          sauce-username: ${{ secrets.SAUCE_USERNAME }}
          sauce-access-key: ${{ secrets.SAUCE_ACCESS_KEY }}

  all-tests-saucelabs:
    name: All Tests SauceLabs
    if: |
      always()
      && (inputs.saucelab_test == true || inputs.saucelab_test == null)
      && (github.event_name != 'pull_request'
          || (github.event_name == 'pull_request'
              && github.event.pull_request.head.repo.fork == false))
    runs-on: ubuntu-latest
    needs:
      - test-saucelabs
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}
