---

name: ci-saucelabs

on:
  workflow_dispatch:
    inputs:
      saucelab_test:
        description: 'Enable run a Sauce lab test'
        default: true
        required: false
        type: boolean
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.asciidoc'

# Limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

env:
  DOCKER_ELASTIC_SECRET: secret/observability-team/ci/docker-registry/prod
  SAUCELABS_SECRET: secret/apm-team/ci/apm-agent-rum-saucelabs@elastic/apm-rum
  CODECOV_SECRET: secret/apm-team/ci/apm-agent-rum-codecov

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test-saucelabs:
    name: Test SauceLabs
    # Inputs aren't defined on some events
    # When undefined, we need to emulate the default value
    if: inputs.saucelab_test == true || inputs.saucelab_test == null
    runs-on: ubuntu-latest
    strategy:
      # Saucelab doesn't support running test in //.
      max-parallel: 1
      matrix:
        stack-version:
          - '8.0.0-SNAPSHOT'
        scope:
          - '@elastic/apm-rum'
          - '@elastic/apm-rum-core'
          - '@elastic/apm-rum-react'
          - '@elastic/apm-rum-angular'
          - '@elastic/apm-rum-vue'
    steps:
      - uses: actions/checkout@v3
      - name: Run saucelabs tests
        uses: ./.github/workflows/run-test
        with:
          goal: 'test'
          mode: 'saucelabs'
          scope: ${{ matrix.scope }}
          stack-version: ${{ matrix.stack-version }}
          vault-url: ${{ secrets.VAULT_ADDR }}
          vault-role-id: ${{ secrets.VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.VAULT_SECRET_ID }}

  all-tests-saucelabs:
    name: All Tests SauceLabs
    if: always()
    runs-on: ubuntu-latest
    needs:
      - test-saucelabs
    steps:
      - id: check
        uses: elastic/apm-pipeline-library/.github/actions/check-dependent-jobs@current
        with:
          needs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.isSuccess }}
