---

name: ci

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.asciidoc'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.asciidoc'

# Limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: '.ci/scripts/lint.sh'
      - run: 'npm run ci:bundlesize'
        id: bundlesize
# TODO: This fails on forked PRs
#      - uses: actions/github-script@v6
#        env:
#          BUNDLESIZE_PASS: ${{ steps.bundlesize.outputs.bundlesize_pass }}
#          BUNDLESIZE_FAIL: ${{ steps.bundlesize.outputs.bundlesize_fail }}
#        with:
#          script: |
#            const { BUNDLESIZE_PASS, BUNDLESIZE_FAIL } = process.env;
#            let state = 'success';
#            if (BUNDLESIZE_FAIL > 0) {
#              state = 'failure';
#            }
#            github.rest.repos.createCommitStatus({
#              ...context.repo,
#              sha: context.sha,
#              state: state,
#              context: `${context.workflow} / Bundlesize: ${BUNDLESIZE_PASS} pass / ${BUNDLESIZE_FAIL} fail`,
#            });

  # test-puppeteer:
  #   name: Test Puppeteer
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       stack-version:
  #         - '8.2.0-SNAPSHOT'
  #         - '8.19.8'
  #       scope:
  #         - '@elastic/apm-rum'
  #         - '@elastic/apm-rum-core'
  #         - '@elastic/apm-rum-react'
  #         - '@elastic/apm-rum-angular'
  #         - '@elastic/apm-rum-vue'
  #   steps:
  #     - uses: actions/checkout@v6

  #     - name: Run puppeteer tests
  #       uses: ./.github/workflows/run-test
  #       with:
  #         goal: 'test'
  #         scope: ${{ matrix.scope }}
  #         stack-version: ${{ matrix.stack-version }}
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack-version:
          - '8.2.0-SNAPSHOT'
          - '8.19.8'
        scope:
          - '@elastic/apm-rum'
          - '@elastic/apm-rum-core'
          - '@elastic/apm-rum-react'
          - '@elastic/apm-rum-angular'
          - '@elastic/apm-rum-vue'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Start Stack
        run: STACK_VERSION=${{ matrix.stack-version }} docker compose -f ./dev-utils/docker-compose.yml up -d fleet-server
      - name: Install dependencies
        run: npm ci
      - name: Run Tests
        run: SCOPE=${{ matrix.scope }} npm run test

  # npm-ci:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6

  #     - uses: actions/setup-node@v6
  #       with:
  #         node-version-file: '.nvmrc'

  #     - name: Install dependencies
  #       run: npm ci

  # all:
  #   if: always()
  #   runs-on: ubuntu-latest
  #   needs:
  #     - lint
  #     - test
  #   steps:
  #     - id: check
  #       uses: elastic/oblt-actions/check-dependent-jobs@v1
  #       with:
  #         jobs: ${{ toJSON(needs) }}
  #     - run: ${{ steps.check.outputs.is-success }}

  # coverage:
  #   name: Coverage
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6
  #     - name: Run coverage
  #       uses: ./.github/workflows/run-test
  #       with:
  #         goal: 'coverage'
  #         stack-version: '8.19.8'
